{% extends "base.html" %}

{% block head_title %}Contact || {{ block.super }}{% endblock head_title %}


{% block content %}
<h1>Content</h1>
{% include 'snippets/sidebar.html' %}
<a href='mailto:youremail@gmail.com'>Email us</a>



{% for obj in object_list %}
    <li><a href='{{ obj.get_absolute_url }}'>{{ obj }}</a><br/>
    {{ obj.name }} {{ obj.location }} {{ obj.category }} {{ obj.timestamp }} {{ obj.updated }}</li>
    <img src="{{ obj.name }}" style="max-width:280px; max-height:500px;">
{% empty %}
    <li><a href='{% url "restaurants:create" %}'>Add One</a></li>

{% endfor %}



{% endblock  %}
