<!DOCTYPE html>
<html>


<body>
<img src="http://img4.bato.to/comics/2017/10/04/m/read59d4cc4e2404b/img000003.png" alt="Mountain View" style="height: 100%; width: 100%";">
<img src="http://img4.bato.to/comics/2017/10/04/m/read59d4cc4e2404b/img000004.png" alt="Mountain View" style="height: 100%; width: 100%";">
<img src="http://img4.bato.to/comics/2017/10/04/m/read59d4cc4e2404b/img000005.png" alt="Mountain View" style="height: 100%; width: 100%";">
<img src="http://img4.bato.to/comics/2017/10/04/m/read59d4cc4e2404b/img000006.png" alt="Mountain View" style="height: 100%; width: 100%";">
<img src="http://img4.bato.to/comics/2017/10/04/m/read59d4cc4e2404b/img000007.png" alt="Mountain View" style="height: 100%; width: 100%";">
<img src="http://img4.bato.to/comics/2017/10/04/m/read59d4cc4e2404b/img000008.png" alt="Mountain View" style="height: 100%; width: 100%";">
<img src="http://img4.bato.to/comics/2017/10/04/m/read59d4cc4e2404b/img000009.png" alt="Mountain View" style="height: 100%; width: 100%";">
<img src="http://img4.bato.to/comics/2017/10/04/m/read59d4cc4e2404b/img000010.png" alt="Mountain View" style="height: 100%; width: 100%";">
<img src="http://img4.bato.to/comics/2017/10/04/m/read59d4cc4e2404b/img000011.png" alt="Mountain View" style="height: 100%; width: 100%";">
<img src="http://img4.bato.to/comics/2017/10/04/m/read59d4cc4e2404b/img000012.png" alt="Mountain View" style="height: 100%; width: 100%";">
<img src="http://img4.bato.to/comics/2017/10/04/m/read59d4cc4e2404b/img000013.png" alt="Mountain View" style="height: 100%; width: 100%";">
<img src="http://img4.bato.to/comics/2017/10/04/m/read59d4cc4e2404b/img000014.png" alt="Mountain View" style="height: 100%; width: 100%";">
<img src="http://img4.bato.to/comics/2017/10/04/m/read59d4cc4e2404b/img000015.png" alt="Mountain View" style="height: 100%; width: 100%";">
<img src="http://img4.bato.to/comics/2017/10/04/m/read59d4cc4e2404b/img000016.png" alt="Mountain View" style="height: 100%; width: 100%";">

{% for item in form.instance.get_contents %}
<img src="{{ item }}" alt="Mountain View" style="height: 100%; width: 100%";">
</br>
{% endfor %}

</body>
</html>
