<!DOCTYPE html>
<html lang="en">
<head>
<style>
body {
    background-color: black;
}

h1 {
    color: maroon;
    margin-left: 40px;
}

#content {
  float: right ;
  width: 50% ;
}
#navbar {
  float: right;
  width: 50%;
}

</style>
</head>

<body>
<div id="container">
<div id="content">
  <div id="innercontent">

</div>
  <img src="https://i.pinimg.com/originals/7d/85/49/7d8549a4126444cd25769f6d0e8c2d3a.jpg" alt="Mountain View" style="height: 10%; width: 10%";">
  </div>
</div>
<div id="navbar">
  <div id="innernavbar">
  <img src="https://scontent-sea1-1.cdninstagram.com/t51.2885-15/e35/13573613_252689551780584_1376972748_n.jpg?ig_cache_key=MTI5MDY0NDc5NDA3NTE1OTE0Mw%3D%3D.2&se=6" alt="Mountain View" style="height: 10%; width: 10%";">
  </div>
</div>
</div>
</body>
